<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Multiple Choise Quiz</title>
    <link rel="stylesheet" href="/style.css">
    <script src="https://kit.fontawesome.com/1325c2723b.js" crossorigin="anonymous"></script>
</head>

<body>

    <nav>
        <h1><a href="/">Multiple Choice Quiz</a></h1>
        <ul>
            <li><a href="<%=`/user/info/${user.id}`%>"><i class="fas fa-user"></i> ユーザー情報</a></li>
            <li class="quizTable"><i class="fas fa-question-circle"></i> クイズ問題
                <ul class="dropdownMenu">
                    <% category.forEach(function(cat) { %>
                    <li><a href="<%=`/quiz/${cat.id}`%>"><%= cat.category_name %></a></li>
                    <% }); %>
                </ul>
            </li>
        </ul>
    </nav>
    <div class="title">
        <h1 id="topicTitle">トピックを選択する</h1>
        <!-- カテゴリーの数だけ、ボタンを作成-->
        <% category.forEach(function(cat) { %>
        <button name="<%=`${cat.id}`%>" value="<%=`${user.id}`%>" class="categoryBtn"><%= cat.category_name %></button>
        <% }); %>
    </div>

    <div class="circle"></div>
    <div class="displayTime"></div>

    <form id="form" action="/review" method="post" name="reviewForm">

        <!-- 四択形式問題を表示-->
        <div id="questions">
            <div id="questionBox">
                <h2 id="question"></h2>
            </div>
        </div>
        <input type="hidden" id="selectedChoices" name="selectedChoices" value="">
        <input type="hidden" id="username" name="username" value="<%=`${user.id}`%>">
        <input type="hidden" id="category" name="category" value="">
        <button id="nextQuiz" class="btn">NEXT QUIZ</button>
        <button id="submitBtn" type="submit" class="btn">SUBMIT</button>
    </form>
    <p class="error" style="text-align: center; color: #BC2020;"></p>

    <script type="module" src="/questions.js"></script>
</body>

</html>