<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/style.css">
    <title>Multiple Choise Quiz</title>
</head>

<body>
    <div>
        <h1>質問テーブル</h1>
        <table>
            <tr class="head">
                <th class="quesionBody">質問内容</th>
                <th>選択肢１</th>
                <th>選択肢２</th>
                <th>選択肢３</th>
                <th>選択肢４</th>
            </tr>
            <% tables.forEach(function(table) { %>
            <tr>
                <th class="quesionBody"><%= table.question %></th>
                <th><%= table.choice[0] %></th>
                <th><%= table.choice[1] %></th>
                <th><%= table.choice[2] %></th>
                <th><%= table.choice[3] %></th>
            </tr>
            <% }); %>
        </table>
    </div>
</body>

</html>